@font-face {
    font-family: 'font_thu_phap';
    src: url('https://raw.githubusercontent.com/LeTienIT/font_ong_do/main/UVF_FiolexGirlVH.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --star-color-A: white;
    --star-color-B: transparent;
  }
body, html {
    height: 100%;
    min-width: 60%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #333; */
    font-family: 'font_thu_phap', sans-serif;
    flex-direction: column;
    /* font-size: 2rem; */
    background: linear-gradient( 0deg, rgb(25,25,112), rgb(33,20,0) 30% ), rgb(0, 0, 0) 80%; 
    overflow: hidden;
}
/* sky start */
.circle {
    position: absolute;
    /*width: 10px;
    height: 10px;
    left: 100px;
    top: 20px; */
    background-color: var(--star-color-A);
    border-radius: 50%;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /*animation-direction: alternate;*/
}

.blink_1 {
    animation-name: blink10;
}

.blink_2 {
    animation-name: blink20;
}

.blink_3 {
    animation-name: blink30;
}

.blink_4 {
    animation-name: blink40;
}

.blink_5 {
    animation-name: blink50;
}

@keyframes blink10 {
    0%, 100% {
        background-color: var(--star-color-A);
    }
    20% {
        background-color: var(--star-color-B);
    }
}
@keyframes blink20 {
    0%, 100% {
        background-color: var(--star-color-B);
    }
    40% {
        background-color: var(--star-color-A);
    }
}
@keyframes blink50 {
    0%, 100% {
        background-color: var(--star-color-A);
    }
    50% {
        background-color: var(--star-color-B);
    }
}
@keyframes blink30 {
    0%, 100% {
        background-color: var(--star-color-A);
    }
    60% {
        background-color: var(--star-color-B);
    }
}
@keyframes blink40 {
    0%, 100% {
        background-color: var(--star-color-B);
    }
    80% {
        background-color: var(--star-color-A);
    }
}

/* TEXT */
.glowing-text {
    font-size: 16em;
    color: white;
    white-space: nowrap;
}

.glowing-text span {
    animation: glowing 5s infinite, move 5s infinite, glow 1.5s ease-in-out infinite alternate;
    opacity: 0; 
    display: inline-block;
}

@keyframes glowing {
    0%, 100% { opacity: 1; }
    50% { opacity: 1; }
}

@keyframes move {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-50px); }
}
@keyframes glow {
    from {
      text-shadow: 0 0 20px;
    }
    to {
      text-shadow: 0 0 40px;
    }
}

#load_sign {
    width: 100%;
    /* margin-top: -10%; */
    margin-bottom: 10%;
}
#load_sign .heart #line {
    fill: none;
    stroke: #e00000;
    stroke-width: 1.5;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-opacity: 1;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: load_sign_dash 3.5s linear infinite;
}
#load_sign .heart #point {
    fill: none;
    stroke: #f00000;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 0.1;
    stroke-opacity: 1;
    stroke-dasharray: 0.0001, 0.9999;
    stroke-dashoffset: 1;
    animation: load_sign_dash 3.5s linear infinite;
}
@keyframes load_sign_dash {
    0% {
      stroke-dashoffset: 1;
    }
    80% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 0;
    }
}

#hoden{
    /* position: absolute; */
    z-index: 0;
}
.loader {
    display: flex;
    width: 8rem;
    height: 8rem;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.curve {
    width: 180%;
    height: 180%;
    position: absolute;
    animation: rotate 8s linear infinite;
    fill: transparent;
}
.curve text {
    letter-spacing: 20px;
    text-transform: uppercase;
    font: 1.9em "Fira Sans", sans-serif;
    fill: #ff00d4;
    filter: drop-shadow(0 2px 8px black);
}
.blackhole {
    z-index: -1;
    display: flex;
    position: absolute;
    width: 8rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
}
.blackhole-circle {
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle at center, black 25%, white 35%, white 100%);
    box-shadow: 0px 0px 2rem #c2babb;
    align-items: center;
    justify-content: center;
}
.blackhole-circle::after {
    z-index: 0;
    position: absolute;
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid white;
    background: radial-gradient(circle at center, black 35%, white 60%, white 100%);
    box-shadow: 0px 0px 5rem #c2babb;
    align-items: center;
    justify-content: center;
    filter: blur(4px);
    animation: pulseAnimation linear infinite 2s alternate-reverse;
}
.blackhole-circle::before {
    z-index: 1;
    content: "";
    display: flex;
    width: 4rem;
    height: 4rem;
    border: 2px solid #ffffff;
    box-shadow: 3px 3px 10px #c2babb, inset 0 0 1rem #ffffff;
    border-radius: 50%;
    top: 5rem;
    filter: blur(0.5px);
    animation: rotate linear infinite 3s;
}
.blackhole-disc {
    position: absolute;
    z-index: 0;
    display: flex;
    width: 5rem;
    height: 10rem;
    border-radius: 50%;
    background: radial-gradient(circle at center, #ffffff 80%, #353535 90%, white 100%);
    filter: blur(1rem) brightness(130%);
    border: 1rem solid white;
    box-shadow: 0px 0px 3rem #d7c4be;
    transform: rotate3d(1, 1, 1, 220deg);
    animation: pulseAnimation2 linear infinite 2s alternate-reverse;
    justify-content: center;
    align-items: center;
}
.blackhole-disc::before {
    content: "";
    position: absolute;
    z-index: 0;
    display: flex;
    width: 5rem;
    height: 10rem;
    border-radius: 50%;
    background: radial-gradient(circle at center, #ffffff 80%, #353535 90%, white 100%);
    filter: blur(3rem);
    border: 1rem solid white;
    box-shadow: 0px 0px 6rem #d7c4be;
    animation: pulseAnimation linear infinite 2s alternate-reverse;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes pulseAnimation {
    0% {
        box-shadow: 0px 0px 3rem #c2babb;
        transform: scale(1);
    }

    100% {
        box-shadow: 0px 0px 5rem #c2babb;
        transform: scale(1.09);
    }
}
@keyframes pulseAnimation2 {
    0% {
        box-shadow: 0px 0px 3rem #c2babb;
        transform: rotate3d(1, 1, 1, 220deg) scale(1);
    }

    100% {
        box-shadow: 0px 0px 5rem #c2babb;
        transform: rotate3d(1, 1, 1, 220deg)  scale(.95);
    }
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 13rem; */
    padding: 20px;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    }

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 22px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}